
# Byte-compiled / optimized / DLL files
__pycache__/

# Node packages
node_modules/

# Yarn lock files
yarn.lock

# IDEA files
.idea/
.idea/SQL-and-Data-Modeling-for-the-Web-attempt.iml
.idea/misc.xml
.idea/workspace.xml
